
hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #C2BEBE;
width: 104%;
margin-left: -2%;
}

.author{
	color:;
}

h1{
	color:#3b5998;
	text-align:center;
	margin-top:10px;
}

.author{
	color:#3b5998;
	font-weight: bold;
}

.postBody{
	font-style: italic;
}

.alert-message{
	position: absolute;
	top:0;
	left: 30%;
	z-index: 2;
}
