
/* Global Elment Style */

body{
    /*background-image: url('../images/bg.jpg');*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 100%;
    background-color: #000;
}

body.service {
	background-color: #fff !important;
}

header{
	margin-bottom:30px;
}

.navbar-default {
	background-color:rgb(151, 38, 38);
	border-color:transparent;
	border-radius: 0;
}

.navbar-default .container-fluid, section{
	margin: 0 auto;
	width:90%;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 17px;
}

.navbar-default  .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a.active,
.navbar>.container-fluid .navbar-brand:hover, .navbar>.container-fluid .navbar-brand:focus{
	background-color: rgba(255, 255, 255, 0.44);
	color: #fff;
	border-radius: 5px;
}

.navbar>.container-fluid .navbar-brand{
	color: #fff;
	font-size: 23px;

}

.navbar-toggle.collapsed{
	background-color: #fff;
}


.mob-display,.tab-display{
	display: none;
}

.navbar-brand img{
	margin-top: -5px;
}

#scrollUp-active{
	border-color:transparent !important; 	
}

#scrollUp {
	bottom: 70px;
}

.unbuzz{
	-webkit-animation-name: buzz;
	animation-name: buzz;
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.unbuzz:hover,.unbuzz:active{
	-webkit-animation-name: none;
	animation-name: none;
	-webkit-animation-duration:0;
	animation-duration: 0;
	-webkit-animation-timing-function: none;
	animation-timing-function: none;
	-webkit-animation-iteration-count: 0;
	animation-iteration-count: 0;
}

footer{
	position:fixed;
	min-height: 50px;
	display:block;
	width: 100%;
	background-color:#000;
	margin-top: 20px;
	bottom:0px;
}

footer p{
	font-size:13px;
	color: #fff;
	padding-top: 15px;
}

footer p img.icon{
	margin-top: -5px;
}

footer img.icon{
	width: 30px;
	height:30px;
	z-index: 2;
}

footer a img{
	width: 110px;
	height: 45px;
}

footer a.footerIcon:hover,footer a.footerIcon:focus{
	color: transparent;
}

.icon.fb:hover,.icon.fb:focus{
	background-color: #3B5998;
	border-radius: 30px;
}

.icon.tw:hover,.icon.tw:focus{
	background-color: #4099ff;
	border-radius: 30px;
}

.icon.lk:hover,.icon.lk:focus{
	background-color: #0e76a8;
	border-radius: 30px;
}

.icon.goo:hover,.icon.goo:focus{
	background-color: #D34836;
	border-radius: 30px;
}

footer img.icon{
	margin-top: 10px;
	margin-right: 5px;
}

footer ul li{
	color: #fff;
	width: 25%;
	float: left;
	list-style: none;
	margin-top: 15px;
}

.call{
	margin-top: 3px;
}

footer ul li a{
	font-size: 13px;
	color: #fff;
}


footer ul li a:hover, footer ul li a:focus{
	color:#ff69b4;
}

.no-padding{
	padding: 0 !important;
}

.no-padding-no-margin{
	padding: 0 !important;
	margin: 0 !important;
}

.no-padding-lr{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a:focus {
	outline: none !important;
}

/* End of Global Elment Style */


/* Home Elment Style */

body.main{
	background-image: url('../images/bg.jpg');
}

.home{
	position: fixed;
	top:35%;
	left:5%;
}

.home a{
	text-decoration: none;
}

.home a:hover,.home a:focus{
	text-decoration: none;
}

.home a:hover h1,.home a:focus h1,.home a:hover h2,.home a:focus h2{
	color:#D6D6D6;
}

.home a:hover hr,.home a:focus hr{
	border-top: 8px solid #ffff00;
}

.home a:hover span,.home a:focus span{
	border-color: #ffff00;
	color:#D6D6D6;
}

.home h1,.home h2{
	color: #fff;
	text-align: center;
}

.home hr{
	border-top: 8px solid #972626;
	border-radius: 10px;
	width: 75%;
}

.home h1{
	font-size: 40px;
	/*margin-top: 15%;*/
}

.home h2{
	font-size: 34px;
}

.home h2 span{
	font-size: 40px;
	border-bottom: 5px solid #972626;
	border-radius: 10px;
}

/* Enod of Home Elment Style */

/* About Elment Style */

body.about{
	background-image: url('../images/about.jpg');	
}

.about section{
	background-color: rgba(255, 255, 255, 0.88);
	color: #504E4E;
	padding: 20px 20px;
	width: 70%;
}

.about h1{
	color: #000;
	margin-top: 0;
}

.about hr{
	border-top: 8px solid #972626;
	border-radius: 10px;
}

.about footer{
	position: relative;
}

.about article p{
	font-size: 26px;
	padding: 15px 15px;
	text-align: justify;
	color: #000;
}

.about .processSec{
	width: 100%;
	background-color: #fff;
	margin-top: 20px;
}

.about .processSec h3{
	font-size: 24px;
}

.about .processSec p{
	font-size: 18px;
}

.aus{
	width: 200px;
	height:200px;
}

.about article img.logo{
	width: 50px;
	height: 50px;
}

/* End of About Elment Style */

/* Service Elment Style */


.service hr{
	border-top:8px solid #972626;
	border-radius: 10px;
	margin: 5px 0 0 0;
}

.service article{
	width:95%;
	margin: 0 auto;
}

.service article h2{
	text-align: center;
	margin:40px 0;
}
.service img{
	margin-bottom: 20px;
}

.service .img-thumbnail-small{
	width:140px;
	height:50px;
	margin:0 10px 10px 0;
}

.service .imageContainers{
	margin-top: 20px;
}

.service footer{
	position: relative;
}

.service .img-thumbnail-lg{
	width:100%;
	height:280px;
}

.service .img-thumbnail-lg{
	padding: 10px 10px;
}

.service .img-thumbnail-med{
	margin-bottom: 10px;

}

.service .img-thumbnail-lg{
	padding: 10px 10px;
}

.service .img-thumbnail-med{
	margin: 10px 0;

}

.service .img-thumbnail-med{
	width: 200px;
	height: 75px;
}

.service h2.note{
	margin: 10px 0;
	padding-top: 30px;
	text-align: left;
}

.service .img-thumbnail-lg{
	margin-bottom:0;
}

.service .first-child .img-thumbnail-lg{
	margin-top:20px;
}

.service .last-child .img-thumbnail-lg{
	margin-bottom:20px;
}


.service footer p img.icon{
	margin-bottom: 0;
}


.service .navbar-brand img{
	margin-bottom: 0;
}

.service .webIcon{
	width:360px;
	height:200px;
	margin-top:-20px;
}

.service .respIcon{
	width:350px;
	height:180px;
}

.service .seoIcon{
	width:340px;
	height:180px;
}

/* End of Service Elment Style */

/* Contact Elment Style */

body.contact{
	background-image: url('../images/contact.png');	
}

.contact section{
	background-color: rgba(255, 255, 255, 0.11);
	color: #fff;
	padding: 20px 20px;
}

.contact h1{
	color: #fff;
	margin: 0;
}

.contact hr{
	border-top:8px solid #972626;
	border-radius: 10px;
	margin: 5px 0 0 0;
}

.contact h2 span{
	border-bottom: 8px solid #972626;
	border-radius: 10px;
}

.contact p.info, .contact p.note{
	margin:30px 0;
	font-size: 32px;
}

.contact p a{
	color:#ffff00;
	font-size:30px;	
}

.contact p.info{
	font-size:28px;	
}

.pull-center{
	text-align: center !important;
}

.contact .btn-default{

}

#contactModal .form-group .control-label{
	margin: 8px 25px 0 20px;
}

#contactModal .form-group .required-field{
	color:red;
	font-size:16px;

}
/*End of Contact Elment Style */

.alert-message{
	position: absolute;
	top:0;
	left: 30%;
	z-index: 2;
}
